<p class="note">
  <span class="note-item">Aangemaakt: {{#if auditable.created}}{{auditable.created}}{{else}}-{{/if}}</span> |
  <span class="note-item">Bewerkt: {{#if auditable.modified}}{{auditable.modified}}{{else}}-{{/if}}</span>
</p>
