<p class="note">
  <span class="note-item">Aangemaakt: {{#if auditable.created}}{{ago auditable.created}}{{else}}-{{/if}}</span> |
  <span class="note-item">Bewerkt: {{#if auditable.modified}}{{ago auditable.modified}}{{else}}-{{/if}}</span>
</p>
