<p class="note">
  <span class="note-item">Aangemaakt: {{#if auditable.created}}{{time-ago-in-words auditable.created}}{{else}}-{{/if}}</span> |
  <span class="note-item">Bewerkt: {{#if auditable.modified}}{{time-ago-in-words auditable.modified}}{{else}}-{{/if}}</span>
</p>
