{{score-form score=score}}

<h3>Partituren</h3>
<div class="row">
  {{#file-picker fileLoaded='addPart' preview=false class="col s12 m6 grey lighten-3 grey-text"}}
    <div class="message center-align"><h5>Sleep een bestand of klik om een bestand op te laden.</h5></div>
  {{/file-picker}}
</div>
<div class="row">
  {{#each score.parts as |part|}}
    <div class="attachment grey lighten-3 grey-text valign-wrapper center-align">
      <div class="icons">
	<i class="material-icons small right" {{action 'deletePart' part}}>clear</i>
      </div>
      <a href="{{part.file}}/download" target="_blank" title="Download">
	<i class="material-icons large valign">attach_file</i>
      </a>
      <p>{{part.name}}</p>
    </div>
  {{/each}}
</div>

<div class="row">
  {{#md-btn action='cancel'}}Klaar{{/md-btn}}
</div>

