{{score-form score=score}}

<h3>Partituren</h3>

{{parts-table parts=score.parts delete='deletePart'}}

<div class="row">
  {{#md-btn action='save'}}Opslaan{{/md-btn}}
  {{#md-btn action='cancel'}}Annuleer{{/md-btn}}
</div>
