<div class="row">
  <div class="col s12 l8"> 
    <h3>Bewerk partituur</h3>
    
    {{score-form score=score}}
    <div class="row">
      {{#md-btn action='save'}}Opslaan{{/md-btn}}
      {{#md-btn action='cancel'}}Annuleer{{/md-btn}}
    </div>
  </div>
  {{#if score.parts}}
    <div class="col s12 l4"> 
      <h3>Bestanden</h3>    
      {{parts-table parts=score.parts delete='deletePart' download='downloadPart'}}
    </div>
  {{/if}}
</div>
