<header>
  <!-- Contacts dropdown -->
  <ul id="contact-dropdown-nav" class="dropdown-content">
    <li><a href="#!">Muzikanten</a></li>
    <li><a href="#!">Vrijwilligers</a></li>
    <li><a href="#!">Sponsors</a></li>
    <li><a href="#!">Sympathisanten</a></li>
  </ul>

  <!-- Admin dropdown -->
  <ul id="admin-dropdown-nav" class="dropdown-content">
    <li>{{#link-to 'admin.scores.index'}}Bibliotheek{{/link-to}}</li>
  </ul>

  <!-- Profile dropdown -->
  <ul id="profile-dropdown-nav" class="dropdown-content">
    <li>{{#link-to 'profile'}}Profiel{{/link-to}}</li>
    {{#if session.isAuthenticated}}
      {{logout-button}}
    {{/if}}
  </ul>
  
  <!-- Main navbar -->
  <nav>
    <div class="nav-wrapper">
      {{#link-to 'scores.index' class="brand-logo"}}Bravoer Backstage{{/link-to}}
      <ul id="nav-mobile" class="right hide-on-med-and-down">
	<li>{{#link-to 'scores.index'}}Partituren{{/link-to}}</li>
	<li><a class="dropdown-button" data-activates="contact-dropdown-nav">Contacten<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-button" data-activates="admin-dropdown-nav">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
	<li><a class="dropdown-button right" data-activates="profile-dropdown-nav"><i class="material-icons right">account_circle</i></a></li>
      </ul>
    </div>
  </nav>
</header>

