<div class="layout-row">
  {{#paper-form onSubmit=(action "changePassword") as |form|}}
    <div class="layout-column">
      {{form.input label="Oud wachtwoord" type="password"
          value=oldPassword onChange=(action (mut oldPassword))}}
      {{form.input label="Nieuw wachtwoord" type="password"
          value=newPassword onChange=(action (mut newPassword))}}
      {{form.input label="Herhaal nieuw wachtwoord" type="password"
          value=newPasswordConfirmation onChange=(action (mut newPasswordConfirmation))}}
      {{#form.submit-button raised=true primary=true}}Wijzig{{/form.submit-button}}
    </div>
  {{/paper-form}}
</div>