<div class="row">
  <div class="col s12">
    {{data-table
      rows=rows
      columns=columns
      sort=sort
      headerMenu=headerMenu
      selectionMenu=selectionMenu
      contextMenu=contextMenu
      noDataMessage='Nog geen muzikanten toegevoegd'
    }}
  </div>
</div>
