<div class="layout-row layout-wrap">
  {{#each sortedParts as |part|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{part.instrument}}{{/text.headline}}
          {{#text.subhead}}{{part.instrumentPart}}{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick=(action "download" part)}}Download{{/paper-button}}
        {{#paper-button onClick=(action "openDialog" part)}}Delete{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{/each}}
</div>

{{#if selectedPart}}
  {{#paper-dialog fullscreen=true onClose=(action "closeDialog")}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2>Opgelet</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=(action "closeDialog")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
    {{#paper-dialog-content}}
      <p>Ben je zeker dat je de partituur van {{selectedPart.description}} wil verwijderen?</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeDialog")}}Annuleer{{/paper-button}}
      {{#paper-button primary=true onClick=(action "confirmDelete")}}Ja, zeker{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}