<div class="layout-row layout-wrap">
  {{#each sortedParts as |part|}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}{{capitalize part.instrument}}{{/text.headline}}
          {{#text.subhead}}{{capitalize part.instrumentPart}}{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick=(action "download" part)}}Download{{/paper-button}}
        {{#paper-button onClick=(action (mut selectedPart) part)}}Delete{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{else}}
    Geen partituren opgeladen
  {{/each}}
</div>

{{#dialog-delete-item selectedItem=selectedPart delete=(action "delete") as |part|}}
  <p>Ben je zeker dat je de partituur van {{part.description}} wil verwijderen?</p>
{{/dialog-delete-item}}
