<div class="layout-row layout-align-space-between-center">
  <h1>Huidige leden</h1>
</div>
{{#paper-subheader}}De huidige leden zijn de helpers van het afgelopen jaar{{/paper-subheader}}
{{helpers-table helpers=model onClickRow=(action "goToDetail")}}
