<div class="layout-row layout-align-space-between-center">
  <h1>Huidige leden</h1>
</div>
<p class="note">De huidige leden zijn de helpers van het afgelopen jaar</p>
{{helpers-table helpers=model onClickRow=(action "goToDetail")}}
