$primary: "teal";
$accent: "orange";

@import "color-palette";
$color-teal: map-merge($color-teal, ('contrastDefaultColor':  $light-contrast-color));
$color-orange: map-merge($color-orange, ('contrastDefaultColor':  $light-contrast-color));

@import 'ember-paper';
@import 'ember-data-table';
@import 'ember-paper-link';

.main-side-nav-container {
  min-height: 100vh;

  .main-side-nav {
    text-transform: uppercase;
    background-color: color($primary);

    md-content {
      background-color: color($primary);
    }

    a.paper-link, md-list-item .md-button {
      text-transform: uppercase;
    }

    .md-subheader {
      text-align: right;
      margin-top: 15px;
    }

    md-list {
      background-color: color($primary);

      md-list-item {
        color: color($primary, 'contrastDefaultColor');
      }
    }
  }
}

.main-toolbar {
  text-transform: uppercase;
  h1 {
    font-weight: 600;
  }
}

.main-outlet {
  margin: 20px;
}

.content-container {
  margin-left: 20px;
}

blockquote {
  border-left: 4px solid color($accent);
  padding: 10px;
}

dl {
  margin: 2em 0;
  dt {
    margin-top: 15px;
    font-weight: 500;
  }
}

p.note {
  color: color('grey');

  .note-item {
	  padding: 0 8px;
  }

  .note-item:first-child {
	  padding-left: 0;
  }
}

.badge {
  background-color: color($accent);
  margin: 0 10px;
  padding: 5px;
  color: #FFF;
  font-size: 1em;
}

.score-metadata {
  min-width: 250px;
}

.parts-upload-grid {
  .part-upload-grid-header {
    width: 100px;
  }

  .file-dropzone {
    width: 175px;
    height: 125px;
    margin: 10px;
    text-align: center;
    color: color('grey');
    background-color: color('grey', '300');
    border: 2px dashed color('grey');

    &.active, &.active.uploaded {
      color: color($primary);
      background-color: color($primary, '100');
      border: 2px dashed color($primary);
    }

    &.uploaded {
      background-color: color('light-green', '100');
    }
  }
}
