$off-black: #444;
$primary-color: #ff9800; /* orange base */
$secondary-color: #4caf50; /* green base */
$error-color: #e53935; /* red darken-1 */
$input-focus-color: $primary-color;
$link-color: $off-black;

@import 'components/color';
@import 'components/variables';
@import 'materialize';
@import 'ember-cli-materialize';

.modal-close,
[data-ember-action] {
  cursor: pointer;
}


blockquote {
    border-left-color: color("orange", "lighten-3");
}


.btn-floating {
    background-color: $primary-color;
}


.warn {
    @extend .red.darken-1;
}

.input-field {
    label.pull-right {
	font-size: $label-font-size;
	@include transform(translateY(0));
	position: absolute;
	right: 0;
	text-align: right;
    }
}

form {
    p {
	margin-top: 0;
	margin-left: 5px;
    }
}


.modal {

    .modal-top-buttons {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	right: 5px;
    }

    .modal-non-fixed-footer {
	position: relative;
	border-top: 1px solid color("grey", "lighten-2");
	padding: 20px 20px 0 20px;
    }

    .modal-audit {
	position: absolute;
	padding: 0;
	margin: 20px;
	left: 0;
	bottom: 0;

	p {
	    margin: 0;
	}
    }

    i.modal-close {
	&:hover {
	    color: $primary-color;
	}
    }
}


.card {

    .card-title {
	@extend .black-text;
    }

    .card-subtitle {
	@extend .black-text;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 8px;
    }

    .btn {
	@extend .white-text;
	margin-bottom: 0;
    }
}


table {

    &.hoverable {
	tbody tr:hover {
	    @extend .orange.lighten-4;
	}

	tbody tr.no-rows {
	    @extend .white;

	    td {
		text-align: center;
	    }
	    &:hover {
		@extend .white;
	    }
	}

    }

    td.icons {
	padding-top: 0;
	padding-bottom: 0;

	a {
	    color: $off-black;
	    padding: 0 5px;

	    &:hover {
		color: $primary-color;
	    }
	}
    }

}


p.note {
    @extend .grey-text;

    .note-item {
	padding: 0 8px;
    }

    .note-item:first-child {
	padding-left: 0;
    }
}


.switch {

    label {
	input[type=checkbox]:first-child:checked + .lever {
	    @extend .orange.lighten-3;

	    &:after {
		@extend .orange.darken-2;
	    }
	}
    }

}


.dropdown-content {

    li { 
	& > a, & > span {
	    color: $off-black;
	}
    }
}


.file-field {
    
    input.file-path {
	margin-left: 150px;
    }
}


header {

    .top-nav {
	padding: 20px 20px 0 0;
    }

    .side-nav {
    	padding-top: 20px;
	
    	li, li a {
    	    &:hover, &.active {
    		@extend .grey.lighten-2;
    	    }
    	}
    }

}

nav {
    height: 0;
}

header, main, footer {
    padding-left: 240px; 
}


@media #{$small-and-down} {
  header, main, footer {
    padding-left: 0; 
  }
}

