@import 'materialize';

.btn {

    @extend .green;
    @extend .white-text;

    &:hover, &.active { 
	@extend .white-text;
    }    

   &.disabled {
	background-color: #DFDFDF !important;
	box-shadow: none;
	color: #9F9F9F;
	cursor: not-allowed;
    }

}

blockquote {
    border-left-color: color("green", "lighten-3");
}

.modal-close,
[data-ember-action] {
  cursor: pointer;
}

.modal {

    .modal-top-buttons {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	right: 5px;
    }

    .modal-footer {
	position: relative;
	border-top: 1px solid rgba(160,160,160,.2);
	padding-top: 20px;
    }

    .modal-audit {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 0;
	bottom: 0;

	p {
	    margin: 0;
	}
    }
}

header {

    .top-nav {
	padding: 20px 20px 0 0;
    }

    .side-nav {
	padding-top: 20px;
	
	li, li a {
	    &:hover, &.active { 
		@extend .green;
		@extend .white-text;
	    }
	}
    }

}

main {
    .card {
	.card-title {
	    @extend .black-text;
	}

	.card-subtitle {
	    @extend .black-text;
	    font-size: 18px;
	    font-weight: 300;
	    margin-bottom: 8px;
	}

	.btn {
	    margin-bottom: 0;
	}
    }

    td.icons {
	padding-top: 0;
	padding-bottom: 0;

	a {
	    color: $off-black;
	    padding: 0 5px;
	}
    }

    p.note {
	@extend .grey-text;

	.note-item {
	    padding: 0 8px;
	}

	.note-item:first-child {
	    padding-left: 0;
	}
    }

}

header, main, footer {
    padding-left: $sidenav-width + 20px; 
}

@media #{$small-and-down} {
  header, main, footer {
    padding-left: 20px; 
  }
}

