.ember-burger-menu {
  width: 100%;

  .bm-menu {
    background: $primary-color;

    a.icon-close {
      float: right;
      margin: 5px;
      color: rgba(0,0,0,0.5);
    }

    .menu-title {
      text-transform: uppercase;
      text-align: right;
      padding-right: 1em;
      color: rgba(0,0,0,0.5);
      margin-top: 2.5em;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        a {
          display: block;
          padding: 1em 1em 1em 1.2em;
          outline: none;
          border-top: 1px solid rgba(0,0,0,0.2);
          color: #FFFFFF;
          text-transform: uppercase;
          letter-spacing: 1px;
          -webkit-transition: background 0.3s;
          transition: background 0.3s;
          cursor: pointer;

          &:hover {
            background: color("green", "darken-2");
          }
        }
      }
    }
  }

  .main-header {
    min-height: 48px;
  }

  .hamburger {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
    z-index: 100;
    font-size: 30px;
    color: $off-black;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;

    &.burger-hidden {
      opacity: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $primary-color;
    }
  }

}
