<h1>Partituur bewerken</h1>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12 m8">
	{{#md-input-text for="title" value=title}}Titel{{/md-input-text}}
      </div>
      <div class="col s12 m2">
	{{#t-select options=genres value=genre}}Genre{{/t-select}}
      </div>
      <div class="input-field col s12 m2">
	{{md-switch off="Gearchiveerd" on="In gebruik" value=isActive}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m4">
	{{#md-input-text for="composer" value=composer}}Componist{{/md-input-text}}
      </div>
      <div class="input-field col s12 m4">
	{{#md-input-text for="arranger" value=arranger}}Arrangeur{{/md-input-text}}
      </div>
      <div class="input-field col s12 m4">
	{{#md-input-text for="publisher" value=publisher}}Uitgeverij{{/md-input-text}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
	{{#md-input-textarea for="description" value=description}}Description{{/md-input-textarea}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12 m2">
	{{#md-input-duration for="duration" millis=duration}}Duur{{/md-input-duration}}
      </div>
    </div>
    <div class="">
      <a class="btn waves-effect waves-light" {{action 'save'}}>Opslaan</a>
      {{#link-to 'admin.musicScores.index' class="btn waves-effect waves-light"}}Terug{{/link-to}}
    </div>
  </form>
</div>
