<p class="note">
  <span class="note-item">Aangemaakt: {{#if auditable.created}}{{moment-from-now auditable.created}}{{else}}-{{/if}}</span> |
  <span class="note-item">Bewerkt: {{#if auditable.modified}}{{moment-from-now auditable.modified}}{{else}}-{{/if}}</span>
</p>
