<div class="row">
  <div class="col s12">
    {{#data-table noDataMessage='Geen helpers gevonden' content=(await helpers) as |t|}}
      {{#t.content as |c|}}
        {{#c.header}}
          <th>Aanspreking</th>
          <th>Voornaam</th>
          <th>Achternaam</th>
          <th>Bedrijfsnaam</th>
          <th><!-- Info icon --></th>
        {{/c.header}}
        {{#c.body as |row|}}
          <td>{{row.prefix}}</td>
          <td>{{row.firstName}}</td>
          <td>{{row.lastName}}</td>
          <td>{{row.organizationName}}</td>
          <td>
            {{#link-to 'main.admin.sympathizers.edit' row}}
              <i class="material-icons">launch</i>
            {{/link-to}}
          </td>
        {{/c.body}}
      {{/t.content}}
    {{/data-table}}
  </div>
</div>
