<label>{{label}}</label>
{{#md-radios
  selection=value
  optionValuePath="content.value"
  optionLabelPath="content.label"}}
  <span class="{{if horizontal 'horizontal' 'vertical'}}">
    {{#each content as |option|}}
      <p>{{md-radio value=option.value name=option.label}}</p>
    {{/each}}
  </span>
{{/md-radios}}
	
