<h2>Welkom in de backstage!</h2>

<p class="{{unless session.data.isMusician 'hide'}}">{{link-to 'Klik hier om partituren te downloaden' 'main.scores.index'}}</p>
<p>Vragen? Opmerkingen? Mail naar <a href="mailto:backstage@bravoer.be">backstage@bravoer.be</a></p>
