<h3>Nieuw evenement</h3>
<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="col s12 m4">
	      {{t-select options=eventTypes required=true value=model.type label="Type"}}
      </div>
      <div class="input-field col s12 m4">
	      {{md-input-date label="Datum" value=date numberOfYears=200}}
      </div>
    </div>
  </form>
</div>

<div class="row">
  {{#md-btn action='save'}}Opslaan{{/md-btn}}
  {{#md-btn action='cancel'}}Annuleer{{/md-btn}}
</div>
