{{md-tabs content=tabs selected=selectedTab}}

<div class="row">
  <div class="col s12">
    {{#if showPerEvent}}
      {{ember-chart type='bar' data=perEventChart options=perEventChartOptions}}
    {{else}}
      {{stats-attendances-per-attendee attendees=model.musicians}}
    {{/if}}
  </div>
</div>
