{{#if (is-pending model)}}
  <div class="row">
    <div class="col s12 loader">
      {{md-loader mode="circular" size="small" color="green"}}
    </div>
  </div>
{{else}}
  {{attendee-list attendees=model.musicians event=model.event}}
  <div class="row">
    <div class="col s12">
      {{#link-to 'main.admin.attendeeTracking.index' class="btn"}}Terug{{/link-to}}
    </div>
  </div>
{{/if}}

