<h1 class="green-text">Partituren</h1>

<span>{{#link-to 'admin.scores.add' class="btn-floating waves-effect waves-light"}}<i class="mdi-content-add"></i>{{/link-to}}</span>

{{music-score-table scores=activeScores}}

<h2 class="green-text">Archief</h2>

{{music-score-table scores=archivedScores}}

{{outlet}}
