<div class="row">
  <div class="col s12">
    <h3>Muziekstukken</h3>
    <div class="row">
      {{#each model as |score|}}
	<div class="col s12 m6">
	  {{download-score-per-instrument-card score=score instrument=instrument}}
	</div>
      {{/each}}
    </div>
    {{page-pagination links=model.meta.pagination page=page size=size}}
  </div>
</div>
