{{#paper-link 'main.admin.scores.index' iconButton=true}}{{paper-icon "arrow backward"}}{{/paper-link}}

<div class="content-container">
  <h1>{{model.title}}</h1>
  <h2>{{model.composer}}</h2>
</div>