<div class="row">
  <div class="col s12"> 
    {{scores-table scores=model archived=true sort=sort page=page size=size addFile='addFile' savePart='savePart' delete='deleteScores' deletePart='deletePart' info='openScoreDetailModal' attach='openNewPartModal'}}
  </div>
</div>

{{score-detail-modal isOpen=detailModalIsOpen score=detailedScore deletePart='deletePart' downloadPart='downloadPart'}}
{{part-create-modal isOpen=createPartModalIsOpen score=scoreToCreatePartFor part=newPart addFile='addFile' savePart='savePart'}}


