<div class="row">
  <div class="col s12"> 
    {{scores-table scores=model archived=true addFile='addFile' savePart='savePart' delete='deleteScores' deletePart='deletePart' info='openScoreDetailModal' attach='openNewPartModal'}}

    {{page-pagination pagination=model.meta.pagination changePage='changePage'}}
  </div>
</div>

{{score-detail-modal isOpen=detailModalIsOpen score=detailedScore deletePart='deletePart'}}
{{part-create-modal isOpen=createPartModalIsOpen score=scoreToCreatePartFor part=newPart addFile='addFile' savePart='savePart'}}


